@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slow-spin {
  animation: slow-spin 5s linear infinite;
}

.logo-3d-y-wrapper {
  perspective: 800px;            /* gives depth */
}
.logo-3d-y {
  transform-style: preserve-3d;
  animation: spin-3d-y 5s linear infinite;
}
@keyframes spin-3d-y {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}

@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

.vibrate {
  animation: vibrate 0.3s infinite;
}